:root {

    /* Primary Colors */

    --clr-pramiry-white: hsl(0, 0%, 100%);
    --clr-hsl-dark-magenta: 300, 43%, 22%;
    --clr-hsl-pink: 333, 80%, 67%;

    --test-subheading: hsl(303, 10%, 53%);
    /* Secondary Colors */
    --clr-hsl-grayish-dark-magenta: 303, 10%, 53%;
    /* Secondary tittle */
    --clr-hsl-grayish-light-magenta: 300, 24%, 96%;

    /* Typography */
    --ff-body: 'League Spartan', sans-serif;

    --fw-m: 400;
    --fw-l: 500;
    --fw-xl: 700;

    --fs-m: 1.0625rem;
    /* 17 px */
    --fs-l: 1.1rem;
    /* Secondary Title 19px */

    /* Others */

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.25rem;
    --spacing-xxxl: 2.5rem;

    --brd-radius: 0.5rem;

    /* Responsive - based on Design */
    --max-width-responsive: 40rem;
    --article-padding-top-responsive: 5.125rem;
    --article-padding-bottom-responsive: 6.25rem;
    --fs-title-responsive: 2.5rem;
    --gap-stars-container-responsive: 0.9rem;
    --bg-image-top-responsive: url(images/bg-pattern-top-mobile.svg);
    --bg-image-bottom-responsive: url(images/bg-pattern-bottom-mobile.svg);


}

/* Global Styles */
body {
    min-height: 100vh;
    background-color: var(--clr-pramiry-white);
    display: grid;
    place-content: center;
    padding: var(--article-padding-top-responsive) var(--spacing-l) var(--article-padding-bottom-responsive) var(--spacing-l);
    font-family: var(--ff-body);
    font-weight: var(--fw-m);
    font-size: var(--fs-m);
    background-image: var(--bg-image-top-responsive),
        var(--bg-image-bottom-responsive);
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}


/* Article Styles */

.socialproof {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    gap: 3rem;
    max-width: var(--max-width-responsive);
}

.socialproof-header {
    color: hsla(var(--clr-hsl-dark-magenta), 1);
}

.socialproof-header-title {
    display: grid;
    gap: var(--spacing-m);
    text-align: center;
}

.socialproof-header-title-main {
    font-size: var(--fs-title-responsive);
    font-weight: var(--fw-xl);
    line-height: 2rem;
    padding: 0.2rem;
}

.socialproof-header-title-secondary {
    color: hsla(var(--clr-hsl-grayish-dark-magenta), 1);
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
    line-height: 1.5rem;
}

.socialproof-header-stars {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);
    padding-top: var(--spacing-xxxl);
}

.socialproof-header-stars-container {
    display: flex;
    gap: var(--gap-stars-container-responsive);
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: hsla(var(--clr-hsl-grayish-light-magenta), 1);
    border-radius: var(--brd-radius);
    color: hsla(var(--clr-hsl-dark-magenta), 1);
    font-size: var(--fs-m);
    font-weight: var(--fw-xl);
    transition: ease-in 200ms;
}

.stars-flex-group {
    display: flex;
}

.socialproof-reviews {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-m);
}

.socialproof-reviews-card {
    display: grid;
    padding: var(--spacing-xl);
    gap: 1.4rem;
    background-color: hsla(var(--clr-hsl-dark-magenta), 1);
    color: var(--clr-pramiry-white);
    border-radius: var(--brd-radius);
    font-weight: var(--fw-l);
    line-height: 1.4rem;
    transition: ease-in 200ms;
}

.flex-group-reviews-card {
    display: flex;
    gap: 1.5rem;
    padding-top: 0.7rem;
}

.picture-container {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.name {
    font-weight: var(--fw-xl);
}

.info {
    color: hsla(var(--clr-hsl-pink), 1);
    font-weight: var(--fw-m);
}

/* Hover effects */
@media (width < 68.75rem) {
    :where(.socialproof-header-stars-container, .socialproof-reviews-card):is(:hover, :focus) {
        transform: scalex(1.1);
        background-color: hsla(var(--clr-hsl-dark-magenta), .7);
        color: var(--clr-pramiry-white);
        border: 3px solid hsla(var(--clr-hsl-pink), 1);
        cursor: pointer;

    }
}

/* Media Query */
@media (width >=50rem) {
    :root {
        --bg-image-top-responsive: url(images/bg-pattern-top-desktop.svg);
        --bg-image-bottom-responsive: url(images/bg-pattern-bottom-desktop.svg);
    }
}

@media (width >=56.25rem) and (width < 68.75rem) {


    .socialproof-header {
        display: grid;
        grid-template-columns: .8fr 1.2fr;
        gap: 2rem;
    }

    .socialproof-header-stars {
        padding-top: 0;
    }
}


@media (min-width: 68.75rem) {
    :root {
        --max-width-responsive: 69.375rem;
        --article-padding-top-responsive: 7.375rem;
        --article-padding-bottom-responsive: 8.25rem;
        --fs-title-responsive: 3.5rem;
        --gap-stars-container-responsive: 2rem;
    }

    .socialproof-header {
        display: grid;
        grid-template-columns: .7fr 1.3fr;
        padding-bottom: 2rem;
    }

    .socialproof-header-title {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .socialproof-header-title-main {
        line-height: 3rem;
    }

    .socialproof-header-stars {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        padding-left: 10rem;
    }

    .socialproof-header-stars-container {
        width: 27.8125rem;
    }

    .socialproof-header-stars-container:nth-of-type(1) {
        align-self: flex-start;
    }

    .socialproof-header-stars-container:nth-of-type(2) {
        align-self: center;
    }

    .socialproof-header-stars-container:nth-of-type(3) {
        align-self: flex-end;
    }


    .socialproof-header-stars-container {
        display: grid;
        place-content: center;
        grid-template-columns: 0.5fr 1.5fr;
        padding: 1rem 2rem 1rem 2rem;
    }


    .socialproof-reviews {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        grid-column: 1/-1;
        gap: 1.875rem;
    }

    .socialproof-reviews-card:nth-of-type(2) {
        transform: translateY(2rem);
    }

    .socialproof-reviews-card:nth-of-type(3) {
        transform: translateY(4rem);
    }

    .socialproof-header-stars-container:is(:hover, :focus) {
        transform: scale(1.05);
        background-color: hsla(var(--clr-hsl-dark-magenta), .7);
        color: var(--clr-pramiry-white);
        border: 3px solid hsla(var(--clr-hsl-pink), 1);
        cursor: pointer;
    }

    .socialproof-reviews-card:is(:hover, :focus) {
        background-color: hsla(var(--clr-hsl-dark-magenta), .7);
        color: var(--clr-pramiry-white);
        border: 3px solid hsla(var(--clr-hsl-pink), 1);
        cursor: pointer;

    }


}